<!DOCTYPE html>
<html>
  <head>
    <title>REST API HOST</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="assets/css/bootstrap-4.0.0-alpha.6-dist/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/global.css" rel="stylesheet">
    <script src="assets/js/jquery-3.2.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>API HOST 1.0.0</h1>
    <h2></h2>
  </body>
</html>