input[type="text"]:focus{
color:#5cb3fd;
}
input[type="text"]{
margin: 10px 0;
color:rgba(91, 192, 222, 0.5);
}
/* placeholder */
input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
}
input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
}
input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
}
input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
}
